
<div class="columns">
  <div class="column is-7 is-offset-2">
    <% @posts.each do |post| %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= link_to post.title, post_path(post.id) %></strong>
            <br>
            <%= post.description %>
            <br>

          </p>
          <small><%= post.user.name %>&nbsp;<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></small>
        </div>

      </div>
    </article>
    <% end %>
  </div>
</div>
